@import url(/basic1/basic.css);

.container{
    display: flex;

}
 

.item{
width: 200px;
flex: 1 0 auto ;
/* flex: 1 0  0%; */
/* flex: flex-grow/ flex-shrink/ flex-basis; */

/* flex-basis의 기본값은: auto; auto의 의미는 item이 가진width를 넓이로 한다는 의미/ 안적어도 auto로 적용되고 있는중  */

/* flex: 1; 은
 flex: flex-grow:1;/ flex-shrink:1;/ flex-basis:0; */
 flex: 1 500px;
 /* flex: flex-grow:1;/ flex-shrink:1;/ flex-basis:500px; */
 flex: 0 0 500px;
 /* flex: flex-grow:0;/ flex-shrink:0;/ flex-basis:500px; */

}

