@import url(/basic13/basic.css);

.container{
    display: flex;
    min-height: 100vh;/* 미니멈값 */
    flex-wrap: wrap;
}
 

.item{
    width: 30%; 
    /* flex grow 때매 넓이를 줘도 지정비율에 맞게 가 아니라 남은거 그대로 다차지해버림 자식3명이 27퍼 줘도 3분의1씩 다가져감
    유연함 자기가 할수있는거 다 넓이 차지하고 안되면 그냥 한칸 통으로 먹음  */
    flex: 1 auto; /* flex:1 1 auto; */

    /* flex-grow: 1  넓이가 있다면 넓이보다 늘어날수 있다. 
       flex-shrink:1 넓이가 있어도 줄어들수있다.
       flex-baisis:auro는 넓이값이 있다면 인식하겠다.*/
       
}

.item:nth-child(1){
 
}

.item:nth-child(2){
  

}

.item:nth-child(3){
 

}
